<% @params[:back_page_id] = 77 %>
<% @params[:race_class] = 'neutrals' %>
<% @params[:race_name] = 'Нейтралы' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <h2 class="orange">Нейтральные Люди</h2>

    <%= d2_unit_table(
            'Крестьянин',
            '/Disciples2/Rasi/neutral/neutral1/1.png', {
                #animation:    '',
                level:        1,
                expirience:   35,
                hp:           40,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Вилы',
                accuracy:     75,
                damage:       15,
                damage_type:  :weapon,
                initiative:   30,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Крестьяне готовы умереть за маленький клочёк земли, который они называют домом.
        DESC
        ) %>

    <%= d2_unit_table(
            'Ополченец',
            '/Disciples2/Rasi/neutral/neutral1/2.png', {
                #animation:    '',
                level:        1,
                expirience:   75,
                hp:           95,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Топор',
                accuracy:     80,
                damage:       25,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Наёмники готовы воевать хоть за самого чёрта - лишь бы платил.
        DESC
        ) %>

    <%= d2_unit_table(
            'Копейщик',
            '/Disciples2/Rasi/neutral/neutral1/3.png', {
                #animation:    '',
                level:        1,
                expirience:   450,
                hp:           140,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Пика',
                accuracy:     80,
                damage:       50,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Копейщик будет насмерть стоять за того, кто больше заплатит.
        DESC
        ) %>

    <%= d2_unit_table(
            'Разбойник',
            '/Disciples2/Rasi/neutral/neutral1/4.png', {
                #animation:    '',
                level:        1,
                expirience:   50,
                hp:           65,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Кинжалы',
                accuracy:     80,
                damage:       25,
                damage_type:  :weapon,
                initiative:   65,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Разбойники объединяются в шайки, чтобы грабить неосторожных путников и беззащитных крестьян.
        DESC
        ) %>

    <%= d2_unit_table(
            'Головорез',
            '/Disciples2/Rasi/neutral/neutral1/5.png', {
                #animation:    '',
                level:        1,
                expirience:   250,
                hp:           110,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  ['Короткие мечи', 'Яд'],
                accuracy:     [80, 80],
                damage:       [35, 20],
                damage_type:  %i[weapon death],
                initiative:   75,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Головорезы прекрасно разбираются в ядах, что делает их куда опаснее простых разбойников.
        DESC
        ) %>

    <h2 class="orange">Нейтральные Эльфы</h2>

    <%= d2_unit_table(
            'Грифон',
            '/Disciples2/Rasi/neutral/neutral1/7.png', {
                #animation:    '',
                level:        1,
                expirience:   1200,
                hp:           200,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Когти',
                accuracy:     80,
                damage:       95,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            С давних пор Эльфы используют Грифонов в качестве верховых
            животных, но и сам по себе Грифон - опасный противник.
        DESC
        ) %>

    <%= d2_unit_table(
            'Владыка Небес',
            '/Disciples2/Rasi/neutral/neutral1/6.png', {
                #animation:    '',
                level:        1,
                expirience:   2350,
                hp:           420,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Когти',
                accuracy:     80,
                damage:       140,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Самые величавые и гордые - Владыки Небес - сражаются на стороне Эльфов.
        DESC
        ) %>

    <%= d2_unit_table(
            'Кентавр',
            '/Disciples2/Rasi/neutral/neutral1/8.png', {
                #animation:    '',
                level:        1,
                expirience:   725,
                hp:           140,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Стрелы',
                accuracy:     80,
                damage:       40,
                damage_type:  :weapon,
                initiative:   60,
                targets:      :all,
                target_count: 1
            }, <<-DESC
            Горячая кровь течёт у кентавров в жилах, и они готовы сразиться с любым врагом.
        DESC
        ) %>

    <%= d2_unit_table(
            'Кентавр копейщик',
            '/Disciples2/Rasi/neutral/neutral1/9.png', {
                #animation:    '',
                level:        1,
                expirience:   625,
                hp:           165,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Копьё',
                accuracy:     80,
                damage:       65,
                damage_type:  :weapon,
                initiative:   55,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Кентавры любят свои леса и готовы защищать их от любого вторжения.
        DESC
        ) %>

    <%= d2_unit_table(
            'Эльф-следопыт',
            '/Disciples2/Rasi/neutral/neutral1/13.png', {
                #animation:    '',
                level:        1,
                expirience:   75,
                hp:           45,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Стрелы',
                accuracy:     80,
                damage:       25,
                damage_type:  :weapon,
                initiative:   65,
                targets:      :all,
                target_count: 1
            }, <<-DESC
            Эльф-следопыт осыпает врагов стрелами - меткость его не уменьшается с расстоянием.
        DESC
        ) %>

    <%= d2_unit_table(
            'Лесной эльф',
            '/Disciples2/Rasi/neutral/neutral1/10.png', {
                #animation:    '',
                level:        1,
                expirience:   250,
                hp:           100,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Пика',
                accuracy:     80,
                damage:       40,
                damage_type:  :weapon,
                initiative:   65,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Лесные эльфы никогда не теряют бдительность,
            следя за неприятелем и готовясь отразить любое вторжение.
        DESC
        ) %>

    <%= d2_unit_table(
            'Повелитель Эльфов',
            '/Disciples2/Rasi/neutral/neutral1/11.png', {
                #animation:    '',
                level:        1,
                expirience:   2850,
                hp:           195,
                armor:        0,
                immune:       :none,
                resist:       :air,
                weapon_type:  'Молния',
                accuracy:     80,
                damage:       50,
                damage_type:  :air,
                initiative:   50,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Повелитель Эльфов всегда сможет защитить свой народ, наслав на врага бурю.
        DESC
        ) %>

    <%= d2_unit_table(
            'Эльф-оракул',
            '/Disciples2/Rasi/neutral/neutral1/12.png', {
                #animation:    '',
                level:        1,
                expirience:   2200,
                hp:           125,
                armor:        0,
                immune:       :none,
                resist:       :air,
                weapon_type:  'Лечение',
                accuracy:     100,
                heal:         60,
                damage_type:  :life,
                initiative:   10,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Эльф-оракул не только оповещает свой народ о воле Богов, но и способен исцелять самые тяжёлые раны.
        DESC
        ) %>

    <h2 class="orange">Зеленокожие</h2>

    <%= d2_unit_table(
            'Гоблин',
            '/Disciples2/Rasi/neutral/neutral1/14.png', {
                #animation:    '',
                level:        1,
                expirience:   50,
                hp:           50,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Пика',
                accuracy:     80,
                damage:       15,
                damage_type:  :weapon,
                initiative:   30,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Гоблины - дальние родственники орков. Они не отличаются силой, но хитры и проворны.
        DESC
        ) %>

    <%= d2_unit_table(
            'Гоблин-лучник',
            '/Disciples2/Rasi/neutral/neutral1/15.png', {
                #animation:    '',
                level:        1,
                expirience:   75,
                hp:           40,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Стрелы',
                accuracy:     80,
                damage:       15,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :all,
                target_count: 1
            }, <<-DESC
            Гоблины-лучники сопровождают своих товарищей в засадах и нападениях,
            используя против врагов свои грубые стрелы.
        DESC
        ) %>

    <%= d2_unit_table(
            'Старейшина гоблинов',
            '/Disciples2/Rasi/neutral/neutral1/19.png', {
                #animation:    '',
                level:        1,
                expirience:   970,
                hp:           165,
                armor:        0,
                immune:       :none,
                resist:       :fire,
                weapon_type:  'Волна огня',
                accuracy:     80,
                damage:       40,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Среди гоблинов мало тех, кто обладает достаточным умом и магическим
            даром, но время от времени рождаются их Старейшины.
        DESC
        ) %>

    <%= d2_unit_table(
            'Орк',
            '/Disciples2/Rasi/neutral/neutral1/17.png', {
                #animation:    '',
                level:        1,
                expirience:   700,
                hp:           200,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Топор',
                accuracy:     80,
                damage:       55,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Орки из клана "Малого рта" всегда считались крепкими воинами,
            поэтому в бою их ставят в первых рядах.
        DESC
        ) %>

    <%= d2_unit_table(
            'Орк-багатур',
            '/Disciples2/Rasi/neutral/neutral1/18.png', {
                #animation:    '',
                level:        1,
                expirience:   1400,
                hp:           220,
                armor:        20,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Удар',
                accuracy:     80,
                damage:       80,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Орк-багатур ведёт в бой свои зеленокожие отряды.
            Только "Большеротые" орки могут дослужиться до этого звания.
        DESC
        ) %>

    <%= d2_unit_table(
            'Хан Орков',
            '/Disciples2/Rasi/neutral/neutral1/21.png', {
                #animation:    '',
                level:        1,
                expirience:   3100,
                hp:           295,
                armor:        30,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Топор',
                accuracy:     80,
                damage:       115,
                damage_type:  :weapon,
                initiative:   55,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Ханы Орков захватывают трон в смертельной схватке с прежним правителем - они сильнейшие в своём племени.
        DESC
        ) %>

    <%= d2_unit_table(
            'Людоед',
            '/Disciples2/Rasi/neutral/neutral1/16.png', {
                #animation:    '',
                level:        1,
                expirience:   1550,
                hp:           300,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Дубина великана',
                accuracy:     80,
                damage:       130,
                damage_type:  :weapon,
                initiative:   20,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Людоеды - не слишком умные воины; они нападают, не задумываясь о военных хитростях и тактике.
        DESC
        ) %>

    <%= d2_unit_table(
            'Тролль',
            '/Disciples2/Rasi/neutral/neutral1/20.png', {
                #animation:    '',
                level:        1,
                expirience:   1675,
                hp:           350,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Удар',
                accuracy:     80,
                damage:       120,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Тролли невероятно сильны и нечувствительны к ранам: любая отрубленная часть тела быстро отрастает.
        DESC
        ) %>

    <%= d2_unit_table(
            'Циклоп',
            '/Disciples2/Rasi/neutral/neutral1/22.jpg', {
                #animation:    '',
                level:        1,
                expirience:   2000,
                hp:           250,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Валун',
                accuracy:     80,
                damage:       100,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :all,
                target_count: 1
            }, <<-DESC
            Огромный Циклоп швыряет в своих противников гигантские валуны.
        DESC
        ) %>

    <h2 class="orange">Драконы</h2>

    <%= d2_unit_table(
            'Белый дракон',
            '/Disciples2/Rasi/neutral/neutral1/23.png', {
                #animation:    '',
                level:        1,
                expirience:   8700,
                hp:           700,
                armor:        0,
                immune:       :air,
                resist:       :none,
                weapon_type:  'Ядовитое дыхание',
                accuracy:     75,
                damage:       100,
                damage_type:  :air,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Мифические Белые драконы являют собой редкостное, завораживающее зрелище.
            Рассказыват, что они живут по три тысячи лет.
        DESC
        ) %>

    <%= d2_unit_table(
            'Зелёный дракон',
            '/Disciples2/Rasi/neutral/neutral1/24.png', {
                #animation:    '',
                level:        1,
                expirience:   4650,
                hp:           600,
                armor:        0,
                immune:       :fire,
                resist:       :none,
                weapon_type:  'Огненное дыхание',
                accuracy:     75,
                damage:       60,
                damage_type:  :fire,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Мифические Зелёные драконы прячутся в лесных чащах. По слухам, они живут по три тысячи лет.
        DESC
        ) %>

    <%= d2_unit_table(
            'Красный дракон',
            '/Disciples2/Rasi/neutral/neutral1/25.png', {
                #animation:    '',
                level:        1,
                expirience:   9900,
                hp:           800,
                armor:        0,
                immune:       :fire,
                resist:       :none,
                weapon_type:  'Огненное дыхание',
                accuracy:     75,
                damage:       125,
                damage_type:  :fire,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Мифические Красные драконы обитают вблизи вулканов и потоков лавы.
            По слухам, они живут больше четырёх тысячелетий.
        DESC
        ) %>

    <%= d2_unit_table(
            'Синий дракон',
            '/Disciples2/Rasi/neutral/neutral1/26.png', {
                #animation:    '',
                level:        1,
                expirience:   8450,
                hp:           700,
                armor:        0,
                immune:       :water,
                resist:       :none,
                weapon_type:  'Дыхание: пар',
                accuracy:     75,
                damage:       100,
                damage_type:  :water,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Мифические Синие драконы селятся возле воды. По слухам, они живут свыше трёх тысяч лет.
        DESC
        ) %>

    <%= d2_unit_table(
            'Чёрный дракон',
            '/Disciples2/Rasi/neutral/neutral1/27.png', {
                #animation:    '',
                level:        1,
                expirience:   9900,
                hp:           800,
                armor:        0,
                immune:       :death,
                resist:       :none,
                weapon_type:  'Облако кислоты',
                accuracy:     75,
                damage:       125,
                damage_type:  :death,
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Мифические Чёрные драконы живут в самом сердце пустыни.
            Согласно преданиям, их жизнь длится около четырёх тысяч лет.
        DESC
        ) %>

    <h2 class="orange">Болотные жители</h2>

    <%= d2_unit_table(
            'Медуза',
            '/Disciples2/Rasi/neutral/neutral1/28.png', {
                #animation:    '',
                level:        1,
                expirience:   725,
                hp:           115,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Обратить в камень',
                accuracy:     60,
                damage:       0,
                damage_type:  :earth,
                initiative:   20,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Медузы живут по одиночке в безлюдных местах; их взгляд
            обращает в камень тех, кто подошёл слишком близко.
        DESC
        ) %>

    <%= d2_unit_table(
            'Человек-ящер',
            '/Disciples2/Rasi/neutral/neutral1/29.png', {
                #animation:    '',
                level:        1,
                expirience:   950,
                hp:           200,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Мечи',
                accuracy:     80,
                damage:       75,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Люди-ящеры - странные порождения болот; говорят, они особенно ценят человеческое мясо.
        DESC
        ) %>

    <h2 class="orange">Болотные жители</h2>

    <%= d2_unit_table(
            'Кракен',
            '/Disciples2/Rasi/neutral/neutral1/30.png', {
                #animation:    '',
                level:        1,
                expirience:   1675,
                hp:           350,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Щупальца',
                accuracy:     80,
                damage:       120,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Природный враг Морского змея - Кракен - нападает на мореплавателей,
            оказавшихся слишком близко к его подводной пещере.
        DESC
        ) %>

    <%= d2_unit_table(
            'Морской змей',
            '/Disciples2/Rasi/neutral/neutral1/31.png', {
                #animation:    '',
                level:        1,
                expirience:   2000,
                hp:           400,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Укус',
                accuracy:     80,
                damage:       125,
                damage_type:  :weapon,
                initiative:   70,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Ужас морских глубин - Морской змей - потопил много больших военных кораблей.
        DESC
        ) %>

    <%= d2_unit_table(
            'Русалка',
            '/Disciples2/Rasi/neutral/neutral1/32.png', {
                #animation:    '',
                level:        1,
                expirience:   975,
                hp:           75,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  %w[Вихрь Паралич],
                accuracy:     [60, 50],
                damage:       20,
                damage_type:  %i[water mind],
                initiative:   20,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Русалка, очаровав путника совим сладким пением, с наслаждением затем пожирает его сладкое мясо.
        DESC
        ) %>

    <%= d2_unit_table(
            'Тритон',
            '/Disciples2/Rasi/neutral/neutral1/33.png', {
                #animation:    '',
                level:        1,
                expirience:   350,
                hp:           140,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Трезубец',
                accuracy:     80,
                damage:       40,
                damage_type:  :weapon,
                initiative:   50,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Тритон подстерегает заблудившихся мореходов, захватывая и пожирая беззащитных.
        DESC
        ) %>

    <h2 class="orange">Варвары</h2>

    <%= d2_unit_table(
            'Варвар',
            '/Disciples2/Rasi/neutral/neutral1/34.png', {
                #animation:    '',
                level:        1,
                expirience:   1275,
                hp:           250,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Топор',
                accuracy:     80,
                damage:       80,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Племена Варваров, покинувшие Северные степи в погоне за
            лёгкой добычей, предают города и селения огню и мечу.
        DESC
        ) %>

    <%= d2_unit_table(
            'Вождь варваров',
            '/Disciples2/Rasi/neutral/neutral1/35.png', {
                #animation:    '',
                level:        1,
                expirience:   1750,
                hp:           275,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Огромные когти',
                accuracy:     80,
                damage:       100,
                damage_type:  :weapon,
                initiative:   40,
                targets:      :nearest,
                target_count: 1
            }, <<-DESC
            Племена варваров приходят из Северных степей, призванные
            своими вождями на поиски богатой добычи.
        DESC
        ) %>

    <%= d2_unit_table(
            'Траппер',
            '/Disciples2/Rasi/neutral/neutral1/36.png', {
                #animation:    '',
                level:        1,
                expirience:   1535,
                hp:           200,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  'Гарпун',
                accuracy:     80,
                damage:       60,
                damage_type:  :weapon,
                initiative:   60,
                targets:      :all,
                target_count: 1
            }, <<-DESC
            Мастер выживания в самых диких природных условиях,
            Охотник с первобытной яростью защищает племена Варваров.
        DESC
        ) %>

    <%= d2_unit_table(
            'Шаманесса',
            '/Disciples2/Rasi/neutral/neutral1/37.png', {
                #animation:    '',
                level:        1,
                expirience:   1665,
                hp:           165,
                armor:        0,
                immune:       :none,
                resist:       :none,
                weapon_type:  %w[Землетрясение Страх],
                accuracy:     [80, 30],
                damage:       30,
                damage_type:  %i[earth mind],
                initiative:   40,
                targets:      :all,
                target_count: 6
            }, <<-DESC
            Пребывая в гармонии с духами земли, Шаманесса способна
            управлять даже силами земли под своими ногами.
        DESC
        ) %>
<% end %>
