<% @params[:title] = "#{c '$ENTRY_TITLE$'} - #{c '$CAT_NAME$'} " <<
        uif_str('$SECTION_NAME$'){ |s| s << "- #{c '$SECTION_NAME$'} " }.endif! <<
        "- #{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %>
<% @params[:meta][:title] = '$ENTRY_TITLE$' %>
<% @params[:meta][:description] = i("substr($BRIEF$, 0, strpos($BRIEF$, '<'))") << '...' %>
<% @params[:vk][:init] = true %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Файлы</a></li>
        <% uif('$SECTION_NAME$') { %><li><a href="<%= c '$SECTION_URL$' %>"><%= c '$SECTION_NAME$' %></a></li><% }.endif! %>
        <li><a href="<%= c '$CAT_URL$' %>"><%= c '$CAT_NAME$' %></a></li>
        <li class="active"><%= c '$ENTRY_TITLE$' %></li>
    </ol>

    <div class="text-right">
        <% uif(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
            <button type="button" class="add_to_nots_btn">Добавить в блок ННС</button>
            <span class="nots-brief hidden">
                <%= c '$USER$' %> загрузил
                <% uif(code_is('$CID$', 2, 5)) { %>карту<% }.else { %>файл<% }.endif! %>
                «<%= c '$ENTRY_TITLE$' %>» в раздел [i]<%= c '$CAT_NAME$' %>[/i].
            </span>
        <% }.endif! %>
        <% uif('$ADD_ENTRY_LINK$') { %>
            [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]
        <% }.elsif(code_is('$CID$', 2, 5)) { %>
            [
            <a href="/faq/<% uif(code_is('$CID$', 2)) { %>2-0-34<% }.else { %>3-0-126<% }.endif! %>" style="text-decoration:blink;color:orange;font-weight:bold;">
                <u>Как установить карту?</u>
            </a>
            ]
        <% }.endif! %>
    </div>

    <div class="material">
        <div class="title clearfix">
            <h2>
                <span class="nots-title"><%= c '$ENTRY_TITLE$' %></span>
                <%= c '$VERSION$' %>
                <%= c '$MODER_PANEL$' %>
            </h2>
            <div class="time pull-right">
                <%= c '$ADD_DATE$' %>, <%= c '$ADD_TIME$' %>
            </div>
        </div>
        <div class="body">
            <p style="font-weight: bold;">
                <% uif('$FILE_URL$ || $RFILE_URL$ || $SCREEN_URL$') { %>
                    [
                    <% uif('$FILE_URL$') { %><a href="<%= c '$FILE_URL$' %>">Скачать с сервера</a> (<%= c '$FILE_SIZE$' %>)<% }.endif! %>
                    <% uif('$RFILE_URL$') { %> · <a href="<%= c '$RFILE_URL$' %>" target="_blank">Скачать удаленно</a> (<%= c '$RFILE_SIZE$' %>)<% }.endif! %>
                    <% uif('$SCREEN_URL$') { %> · <a href="<%= c '$SCREEN_URL$' %>" target="_blank">Скриншот</a><% }.endif! %>
                    ]
                <% }.endif! %>
            </p>
            <%= c '$MESSAGE$' %>
            <ul class="details">
                <% uif('$CAT_NAME$') { %><li>Категория: <a href="<%= c '$CAT_URL$' %>"><%= c '$CAT_NAME$' %></a></li><% }.endif! %>
                <li>Добавил: <a class="profile-link" href="/index/8-<%= c '$UID$' %>"><%= c '$USER$' %></a></li>
                <% uif('$AUTHOR_NAME$') { %><li>Автор: <u>$AUTHOR_NAME$</u></li><% }.endif! %>
                <% uif('$AUTHOR_EMAIL_JS$') { %>
                    <li>
                        <a href="<%= c '$AUTHOR_EMAIL_JS$' %>">
                            <img border="0" src="/site/e.gif" align="absmiddle" title="E-mail">
                        </a>
                    </li>
                <% }.endif! %>
                <% uif('$AUTHOR_SITE$') { %>
                    <li>
                        <a rel="nofollow" href="<%= c '$AUTHOR_SITE$' %>" target="_blank">
                            <img border="0" src="http://src.ucoz.ru/t/0/h.gif" align="absmiddle" title="Home Page">
                        </a>
                    </li>
                <% }.endif! %>
                <li>Просмотров: <%= c '$READS$' %></li>
                <li>Загрузок: <%= c '$LOADS$' %></li>
                <% uif('$RATING$') { %><li>Рейтинг: <%= rating_stars %></li><% }.endif! %>
                <li><%= vk_like_btn %></li>
            </ul>
            <% uif('$TAGS$') { %><div class="tags">Теги: <i><%= c('$TAGS$') %></i></div><% }.endif! %>
        </div>
    </div>

    <%= render :comment_box %>
<% end %>
