<% @params[:title] = c('$CAT_NAME$') << ' ' << uif_str('$SECTION_NAME$') { |s|
  s << "- #{c '$SECTION_NAME$'}"
}.endif! << " - #{c '$MODULE_NAME$'}" << " - #{c '$SITE_NAME$'}" %>

<% layout 'templates_pda/layouts/main.html.erb' do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Файлы</a></li>
        <% uif('$SECTION_NAME$') { %>
            <li><a href="<%= c '$SECTION_URL$' %>"><%= c '$SECTION_NAME$' %></a></li>
        <% }.endif! %>
        <li class="active"><%= c '$CAT_NAME$' %></li>
    </ol>

    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
                [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]
            </div>
        </div>
    <% }.endif! %>

    <div class="row">
        <div class="col-md-12">
            <div class="clearfix">
                В категории материалов: <b><%= c '$NUM_ENTRIES$' %></b>
                <% uif('$NUM_SHOWN$') { %><br/>Показано материалов: <b><%= c '$NUM_SHOWN$' %></b><% }.endif! %>
                <% uif('$PAGE_SELECTOR$') { %>
                    <div class="pull-right">Страницы: <%= c '$PAGE_SELECTOR$' %></div>
                <% }.endif! %>
            </div>
            <% uif('$SORTING_MENU$') { %>Сортировать по: <%= c '$SORTING_MENU$' %><hr><% }.endif! %>
        </div>
        <div class="col-md-12">
            <%= c '$BODY$' %>
            <%= render :btm_page_selector %>
        </div>
    </div>
<% end %>
