<html lang="ru">
    <head>
        <%= charset_and_ie_support_tags %>
        <title><%= @params[:title] || "#{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %></title>
        <%= meta_tags %>
        <%= stylesheet_link_tag %>
        <%= javascript_include_tag %>
    </he<? 'ad>' ?>
    <body class="dark-back">
        <main>
            <% yield if block_given? %>
        </main>
    </body>
</html>
