<html lang="ru">
    <head>
        <%= charset_and_ie_support_tags %>
        <title><%= @params[:title] || '$MODULE_NAME$ - $SITE_NAME$' %></title>
        <%= meta_tags %>
        <%= c '$GLOBAL_AJAXJS$' %>
        <%= stylesheet_link_tag %>
        <%= javascript_include_tag %>
    </head>
    <body>
        <div class="wrapper">
            $GLOBAL_HEADER$
            <div class="middle">
                <div class="container">
                    <main class="content bordered<%= ' vk-init' if @params[:vk][:init] %>">
                        <% yield if block_given? %>
                    </main>
                </div>
                $GLOBAL_ASIDE$
            </div>
            <%= c '$GLOBAL_FOOTER$' %>
        </div>
    </body>
</html>
