<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Nevendaar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/news">Новости</a></li>
                <li><a href="/forum">Форум</a></li>
                <li><a href="/blog">Фанфики</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% uif('$USER_LOGGED_IN$') { %>
                    <li>
                        <a href="<%= c '$PM_URL$' %>">
                            ЛС
                            <% uif('$UNREAD_PM$') { %>
                                <span class="badge"><%= c '$UNREAD_PM$' %></span>
                            <% }.endif! %>
                        </a>
                    </li>
                    <li><a href="/index/8">Профиль</a></li>
                    <li><a href="<%= c '$LOGOUT_LINK$' %>">Выход</a></li>
                <% }.else { %>
                    <li><a href="<%= c '$REGISTER_LINK$' %>">Регистрация</a></li>
                    <li><a href="<%= login_path %>">Вход</a></li>
                <% }.endif! %>
            </ul>
        </div>
    </div>
</nav>
