<%# TODO: id 38 ? %>
<% uif("#{code_is '$ID$', :not, 38} || #{group_is '$CUR_GROUP_ID$', :admin, :master}") { %>
    <div class="material hr">
        <div class="title clearfix">
            <%# TODO: cid 5 ? %>
            <h2><a target="<% uif(code_is '$CID$', 5) { %>_self<% }.else { %>_blank<% }.endif! %>" href="<%= c '$SITE_URL$' %>"><%= c '$TITLE$' %></a></h2>
            <% uif('$MODER_PANEL$') { %><div class="pull-right"><%= c '$MODER_PANEL$' %></div><% }.endif! %>
        </div>
        <div class="body">
            <% uif('$MESSAGE$') { %>
                <div class="eMessage" style="padding-top:2px; padding-bottom:2px;">
                    <%= c '$MESSAGE$' %>
                </div>
            <% }.endif! %>
            <ul class="details">
                <% uif('$RATING$') { %><li><%= rating_stars %></li><% }.endif! %>
                <%# TODO: cid 5 ? %>
                <% uif(code_is '$CID$', 5) { %>
                    <% uif('$READS$ || $REDIRECTS$') { %>
                        <li>
                            Просмотров:
                            <% uif('$REDIRECTS$ > $READS$') { %><%= c '$REDIRECTS$' %><% }.else { %><%= c '$READS$' %><% }.endif! %>
                            <% uif(group_is '$CUR_GROUP_ID$', :admin, :master) { %>
                                (<%= c '$READS$' %>|<%= c '$REDIRECTS$' %>)
                            <% }.endif! %>
                        </li>
                    <% }.endif! %>
                    <% uif('$COMMENTS_NUM$') { %>
                        <li><a href="<%= c '$COMMENTS_URL$' %>">Комментарии: (<%= c '$COMMENTS_NUM$' %>)</a></li>
                    <% }.endif! %>
                <% }.else { %>
                    <% uif('$CATEGORY_NAME$') { %><li>Категория: <a href="<%= c '$CATEGORY_URL$' %>"><%= c '$CATEGORY_NAME$' %></a></li><% }.endif! %>
                    <li>Переходов: <%= c '$REDIRECTS$' %></li>
                    <li>
                        Добавил:
                        <a href="<% uif('$AUTHOR_EMAIL_JS$') { %><%= c '$AUTHOR_EMAIL_JS$' %><% }.else { %>/index/8-<%= c '$UID$' %>" class="profile-link<% }.endif! %>">
                            <% uif('$AUTHOR_NAME$') { %><%= c '$AUTHOR_NAME$' %><% }.else { %><%= c '$USERNAME$' %><% }.endif! %>
                        </a>
                    </li>
                <% }.endif! %>
                <li>Дата: <%= c '$DATE$' %></li>
            </ul>
        </div>
    </div>
<% }.endif! %>
