<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Каталог сайтов</li>
    </ol>

    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">[ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]</div>
    <% }.endif! %>

    <div class="hr top-hr">
        <%= c '$CATEGORIES$' %>
    </div>

    <div class="clearfix hr">
        В разделе материалов: <b><%= c '$NUM_ENTRIES$' %></b>
        <% uif('$NUM_SHOWN$') { %><br/>Показано материалов: <b><%= c '$NUM_SHOWN$' %></b><% }.endif! %>
        <% uif('$PAGE_SELECTOR$') { %>
            <div class="pull-right">Страницы: <%= c '$PAGE_SELECTOR$' %></div>
        <% }.endif! %>
    </div>

    <%= c '$BODY$' %>

    <%= render :btm_page_selector %>
<% end %>
