<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <% uif('$CATEGORY_NAME$') { %>
            <li><a href="<%= c '$MODULE_URL$' %>">FAQ</a></li>
            <li class="active"><%= c '$CATEGORY_NAME$' %></li>
        <% }.else { %>
            <li class="active">FAQ</li>
        <% }.endif! %>
    </ol>
    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">[ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить вопрос</a> ]</div>
    <% }.endif! %>
    <hr>
    <% uif('$CATEGORIES$') { %><%= c '$CATEGORIES$' %><hr><% }.endif! %>
    <%= c '$BODY$' %>
    <script>$("#entryID" + window.location.hash.substr(1)).addClass("faq_light");</script>
<% end %>
