<div>
    <div class="clearfix">
        [ <%= c '$NUMBER$' %> ]
        <a class="postUser" onclick="emoticon('[b]<%= c '$USERNAME$' %>[/b], ');return false;" href="/index/8-<%= c '$UID$' %>">
            <%= c '$USERNAME$' %>
        </a>
        <span class="pull-right">
            <%= c '$DATE$' %> в <%= c '$TIME$' %>
        </span>
    </div>

    <div id="frmmsg<%= c '$ID$' %>" class="frm-msg-body">
        <%= c '$MESSAGE$' %>
    </div>

    <% uif('$ATTACHMENT$') { %>
        <div class="eAttach" align="left">
            Прикрепления: <%= c '$ATTACHMENT$' %>
        </div>
    <% }. endif! %>

    <% uif('$EDITEDBY$') { %>
        <% uif(moder_names) { %>
            <% uif(group_is('$GROUP_ID$', :user, :banned)) { %>
                <br><br>
                <div class="edited">Сообщение активировал <%= c '$EDITEDBY$' %></div>
            <% }. endif! %>
        <% }.else { %>
            <%# Подразумевается, что группы :user и :banned не могут редактировать свои сообщения %>
            <br><br>
            <div class=edited>Сообщение отредактировал<% uif(female '$GENDER_ID$') { %>а<% }.endif! %> <%= c '$EDITEDBY$' %></div>
        <% }. endif! %>
    <% }. endif! %>
    <hr>
</div>
