<% layout 'templates_pda/layouts/main.html.erb' do %>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-md-offset-9">
            <a class="btn btn-default btn-block" href="<%= c '$RECENT_POSTS_LINK$' %>">Новые сообщения</a>
            <a class="btn btn-default btn-block" href="<%= c '$MEMBERS_LIST_LINK$' %>">Участники</a>
            <a class="btn btn-default btn-block" href="<%= c '$BOARD_RULES_LINK$' %>">Правила форума</a>
            <a class="btn btn-default btn-block" href="<%= c '$SEARCH_PAGE_LINK$' %>">Поиск</a>
        </div>
    </div>
    <div class="row">
        <div class="forum_<%= c '$PAGE_ID$' %> col-md-12">
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
