<% @params[:title] = "#{c '$TITLE_BAR$'} - #{c '$SITE_NAME$'}" %>
<% @params[:meta][:description] = 'Новости мира Disciples' %>

<% layout 'templates_pda/layouts/main.html.erb' do %>
    <ol class="breadcrumb">
        <li><a href="<%= c '$MODULE_URL$' %>"><%= c '$MODULE_NAME$' %></a></li>
        <li class="active"><%= c '$DATE_BAR$' %></li>
    </ol>
    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
                [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить новость</a> ]
            </div>
        </div>
    <% }.endif! %>
    <div class="row">
        <% uif('$CATEGORIES$') { %>
            <div class="col-sm-12 col-md-2">
                <%= c '$CATEGORIES$' %>
                <hr class="hidden-md hidden-lg">
            </div>
        <% }.endif! %>
        <div class="col-sm-12 col-md-10">
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
