<% @params[:title] = "#{c '$SECTION_NAME$'} - #{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Фотоальбом</a></li>
        <li class="active"><%= c '$SECTION_NAME$' %></li>
    </ol>

    <div class="clearfix hr">
        <% uif('$NUM_ENTRIES$') { %>Фотографий в разделе: <b><%= c '$NUM_ENTRIES$' %></b><% }.endif! %>
        <% uif('$NUM_SHOWN$') { %><br>Показано материалов: <b><%= c '$NUM_SHOWN$' %></b><% }.endif! %>
        <% uif('$PAGE_SELECTOR$') { %>
            <div class="pull-right">Страницы: <%= c '$PAGE_SELECTOR$' %></div>
        <% }.endif! %>
    </div>

    <%= c '$BODY$' %>

    <%= render :btm_page_selector %>
<% end %>
