<% @params[:title] = '$TITLE_BAR$ - $SITE_NAME$' %>
<% @params[:meta][:title] = '$ENTRY_NAME$' %>
<% @params[:meta][:description] = "<?substr($MESSAGE$, 0, strpos($MESSAGE$, '<'))?>..." %>
<% @params[:vk][:init] = true %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>$DATE_BAR$</li>
        <li class="active">$ENTRY_NAME$</li>
    </ol>

    <div class="material">
        <div class="title clearfix">
            <h2>$ENTRY_NAME$</h2>
            <div class="time pull-right">
                $ADD_TIME$ $MODER_PANEL$
            </div>
        </div>
        <div class="body">
            <div>
                <% inline_if('$OTHER1$') { %>Автор: $OTHER1$<br><% }.endif! %>
                <% inline_if('$OTHER2$') { %>Редактор: $OTHER2$<br><% }.endif! %>
                <% inline_if('$OTHER3$') { %>Жанр: $OTHER3$<br><% }.endif! %>
                <% inline_if('$OTHER4$') { %>Дисклеймер: $OTHER4$<br><% }.endif! %>
                <br>
            </div>
            <%= c('$MESSAGE$') %>
            <% inline_if('$ATTACHMENTS$') { %><div class="attachments">Прикрепления: $ATTACHMENTS$</div><% }.endif! %>
            <ul class="details">
                <% inline_if('$CAT_NAME$') { %><li>Категория: <a href="$CAT_URL$">$CAT_NAME$</a></li><% }.endif! %>
                <li>Просмотров: $READS$</li>
                <li>Добавил: <a href="$PROFILE_URL$">$USER$</a></li>
                <% inline_if('$RATING$') { %><li>Рейтинг: <%= i("$RSTARS$('12', '/img/stars.png', '1', 'float')") %></li><% }.endif! %>
                <li><%= vk_like_btn %></li>
            </ul>
            <% inline_if('$TAGS$') { %><div class="tags">Теги: <i><%= c('$TAGS$') %></i></div><% }.endif! %>
        </div>
    </div>

    <%= i '$RELATED_ENTRIES$(10)' %>

    <%= render :comment_box, :locals => {:vk_uid => 20000000000} %>
<% end %>
