<% @params[:title] = '$TITLE_BAR$ - $SITE_NAME$' %>
<% @params[:meta][:title] = '$ENTRY_NAME$' %>
<% @params[:meta][:description] = "<?substr($MESSAGE$, 0, strpos($MESSAGE$, '<'))?>..." %>
<% @params[:vk][:init] = true %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>$DATE_BAR$</li>
        <li class="active">$ENTRY_NAME$</li>
    </ol>

    <div class="material">
        <div class="title clearfix">
            <h2>$ENTRY_NAME$</h2>
            <div class="time pull-right">
                $ADD_TIME$ $MODER_PANEL$
            </div>
        </div>
        <div class="body">
            <div class="clearfix">
                <%= c '$MESSAGE$' %>
            </div>
            <?if($OTHER1$)?><div class="source"><a href="$OTHER1$" target="_blank">Источник</a></div><?endif?>
            <?if($ATTACHMENTS$)?><div class="attachments">Прикрепления: $ATTACHMENTS$</div><?endif?>
            <ul class="details">
                <?if($CAT_NAME$)?><li>Категория: <a href="$CAT_URL$">$CAT_NAME$</a></li><?endif?>
                <li>Просмотров: $READS$</li>
                <li>Добавил: <a href="$PROFILE_URL$">$USER$</a></li>
                <% uif('$RATING$') { %><li>Рейтинг: <%= rating_stars %></li><% }.endif! %>
                <li><%= vk_like_btn %></li>
            </ul>
            <?if($TAGS$)?><div class="tags">Теги: <i>$TAGS$</i></div><?endif?>
        </div>
    </div>

    <%= i '$RELATED_ENTRIES$(10)' %>

    <%= render :comment_box %>
<% end %>
