<html lang="ru">
    <head>
        <%= charset_and_ie_support_tags %>
        <title><%= @params[:title] || "#{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %></title>
        <%= meta_tags %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag(pda: true) %>
        <%= javascript_include_tag(pda: true) %>
    </he<%= i "'ad>'" %>
    <body>
        <%= c '$GLOBAL_PDAHEADER$' %>
        <main class="container-fluid">
            <% yield if block_given? %>
        </main>
        <%= c '$GLOBAL_PDAFOOTER$' %>
    </body>
</html>
