<% @params[:title] = "#{c '$SECTION_NAME$'} - #{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Статьи</a></li>
        <li class="active"><%= c '$SECTION_NAME$' %></li>
    </ol>

    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">
            [ <a id="diradd" href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить статью</a> ]
        </div>
    <% }.endif! %>

    <div class="clearfix top-hr">
        <%= i "substr($BODY$,0,strpos($BODY$,\"m'}\")+2)" %>,success:function(a){var a=$(a);if(!a.text().match('myWinError')){addnn(a.text().match(/href="(.*)"\s/)[1],a.text().match(/<div[^<>]*>(.+)\]/i)[0])}}<%= i "substr($BODY$,strpos($BODY$,\"m'}\")+2)" %>
        <script type="text/javascript">
            var str="";
            <% uif(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
                $('<input id="atsn" type="checkbox" checked="checked"/> <label for="atsn">Добавить запись в блок "Новое на сайте"?</label><br/>').insertBefore('#ispen');
            <% }.endif! %>
            function init() {
                <% uif(code_is '$PAGE_ID$', "'add'") { %>
                    str = '$USERNAME$ опубликовал<% uif(female) { %>а<% }.endif! %> статью ';
                <% }.else { %>
                    str = 'Обновлена статья ';
                <% }.endif! %>
            }
            function addnn(url, t) {
                var $cat_selector = $('#catSelector9'),
                        $title_fld = $('#puF1');
                init();
                <% uif(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
                    if (!$('#atsn').attr('checked')) {
                        _uWnd.content('addEnt', t) || $('input.manFlSbm').attr('disabled', 0);
                        return false
                    }
                <% }.endif! %>
                $.post('/dir/', {
                    jkd498: 1,
                    jkd428: 1,
                    ocat: 5,
                    title: $title_fld.val(),
                    slink: url,
                    brief: (
                            str + '"' + $title_fld.val() +
                                    '" в разделе [i]' +
                                    $cat_selector.val() +
                                    '[/i]' +
                                    <% uif(code_is '$PAGE_ID$', "'edit'") { %>
                                        ' обновл' + ($cat_selector.val().indexOf('Карты') < 0 ? 'ён' : 'ена') +
                                    <% }.else { %>
                                        '' +
                                    <% }.endif! %>
                                    '.'
                            ),
                    edttbrief: 2,
                    format_brief: 1,
                    a: 12,
                    ssid: $('input[name="ssid"]').val(),
                    numi: 1
                },
                function (p, s) {
                    str = (s == 'success' ? '<br><br>( Добавлена запись в список обновления материалов )' : '');
                    _uWnd.content('addEnt', t + str) || $('input.manFlSbm').attr('disabled', 0);
                    init();
                });
            }
        </script>
    </div>
<% end %>
