<div class="infTitleT">
    <a href="<%= c '$ENTRY_URL$' %>"><%= c '$ENTRY_TITLE$' %></a>
    (<%= c '$USERNAME$' %>)
</div>
<div class="infMes">
    <% uif('strpos($MESSAGE$, "<") < 0') { %>
        <%= i 'substr($MESSAGE$, 0, 200)' %><% uif('len($MESSAGE$) > 200') { %>...<% }.endif! %>
    <% }.else { %>
        <%= i 'substr($MESSAGE$, 0, strpos($MESSAGE$, "<"))' %>...
    <% }.endif! %>
</div>
<hr>
