<% h_tag = 'h1' %>
<% if @params[:back_page_id] %>
    <a href="/index/0-<%= @params[:back_page_id] %>" class="back-btn">
        <img alt="Back" src="/site/back.gif">
    </a>
<% end %>

<div class="d2race <%= @params[:race_class] %>">
    <% if @params[:main_page] %>
        <% h_tag = 'h2' %>
        <h1 class="orange">
            Расы Disciples 2.
        </h1>
        <%= race_btns(:d2_units, active: @params[:race_class].to_sym) %>
    <% end %>
    <%= "<#{h_tag}>" %><%= @params[:race_name] %><%= "</#{h_tag}>" %>
    <% yield if block_given? %>
</div>
