<% @params[:title] = 'Информация о пользователе' %>

<% layout :bordered do %>
    <% remove_admin_bar! %>
    <div class="text-center hr">
        <h2>Информация о пользователе</h2>
    </div>
    <div align="left" class="clearfix">
        <div class="pull-right text-center">
            <% uif('$_MSN$') { %>
                <span class="fraction-flag fflag<%= c '$_MSN$' %>"></span>
            <% }.endif! %>
            <%= c '$_AVATAR$' %>
            <% uif('$MODER_PANEL$', '$UNET_ID$') { %>
                <div>
                    <a class="uid-link" href="<%= c '$UNET_PROFILE_URL$' %>" target="_blank">
                        <img src="http://src.ucoz.net/img/ma/uid.gif" alt="uid">
                    </a>
                </div>
            <% }.endif! %>
            <% uif('$_CHANGE_DETAILS_URL$') { %><div>[ <a href="<%= c '$_CHANGE_DETAILS_URL$' %>">Изменить данные</a> ]</div><% }.endif! %>
            <% uif('$_PM_READ_URL$') { %>
                <div>[ <a href="<%= c '$_PM_READ_URL$' %>">Читать ЛС <% uif('$UNREAD_PM$') { %>(<b><%= c '$UNREAD_PM$' %></b>)<% }.endif! %></a> ]</div>
            <% }.else { %>
                <% uif('$_PM_SEND_URL$') { %>
                    <div>[ <a href="<%= c '$_PM_SEND_URL$' %>">Отправить ЛС</a> ]</div>
                <% }.endif! %>
            <% }.endif! %>
        </div>
        <div class="profile-line">
            <span class="profile-label">Пользователь</span>
            <a href="<%= c '$_PROFILE_URL$' %>" title="Адрес профиля данного пользователя" class="prompt-link"><b><%= c '$_USERNAME$' %></b></a>
            <% uif('$MODER_PANEL$') { %>[id: <b><%= c '$_USER_ID$' %></b>]<% }.endif! %>
            <% uif('$_RANK_NAME$') { %>
                <span title="Ранг: <%= c '$_RANK$' %>"><%= c '$_RANK_ICON$' %></span>
                [ <%= rank_name '$_RANK$', '$_MSN$', '$_RANK_NAME$', '$_GENDER_ID$' %> ]
            <% }.endif! %>
        </div>
        <% uif('$_BANNED_TILL$') { %>
            <div class="profile-line">
                <span class="profile-label"></span>
                <% uif(code_is '$_BANNED_TILL$', 1) { %>
                    <b style="color:red;">Активность заблокирована навсегда!</b>
                <% }.else { %>
                    Активность заблокирована до <u style="color:red;"><%= c '$_BANNED_TILL$' %></u>
                <% }.endif! %>
            </div>
        <% }.endif! %>
        <div class="profile-line">
            <span class="profile-label">Группа</span>
            <% uif('$MODER_PANEL$') { %>
                <%= c '$MODER_PANEL$' %>
            <% }.else { %>
                <%= c '$_GROUP_NAME$' %>
                <%= c '$_GROUP_ICON$' %>
            <% }.endif! %>
        </div>
        <% uif(0) { %>
            <div class="profile-line">
                <span class="profile-label">Инвентарь</span>
                <% uif(code_is '$AWARDS$', 0) { %>
                    нет
                <% }.else { %>
                    <a id="see_user_awards" href="#" title="Награды">Открыть список</a>
                <% }.endif! %>
                <% uif(group_is '$GROUP_ID$', :moderator, :admin, :master) { %>
                    <% uif('$AWARDS_DO_URL$') { %>
                        <span class="small">[ <a href="<%= c '$AWARDS_DO_URL$' %>">Вручить награду</a> ]</span>
                    <% }.endif! %>
                <% }.endif! %>
            </div>
        <% }.endif! %>
        <div class="profile-line">
            <span class="profile-label">Замечания</span>
            <% uif(group_is '$_GROUP_ID$', :master) { %>
                IMMUNE
            <% }.else { %>
                <% uif('$_BAN_READ_URL$') { %>
                    <a class="banPercent" title="Смотреть историю замечаний" href="<%= c '$_BAN_READ_URL$' %>"><%= c '$_BAN_PERCENT$' %>%</a>
                <% }.else { %>
                    нет
                <% }.endif! %>
                <% uif('$_BAN_DO_URL$') { %>
                    <a href="<%= c '$_BAN_DO_URL$' %>" title="Изменить уровень замечаний">
                        <img src="http://src.ucoz.ru/img/fr/wm.gif">
                        <img src="http://src.ucoz.ru/img/fr/w$_BAN_RATING$.gif">
                        <img src="http://src.ucoz.ru/img/fr/wp.gif">
                    </a>
                <% }.endif! %>
            <% }.endif! %>
        </div>
        <% uif('$_MSN$') { %>
            <div class="profile-line">
                <span class="profile-label">Фракция</span>
                <span class="fraction-name<%= c '$_MSN$' %>"></span>
            </div>
        <% }.endif! %>
        <% uif('$_REP_READ_URL$', code_is(:not, '$_USER_ID$', 1249)) { %>
            <div class="profile-line">
                <span class="profile-label">Репутация</span>
                <a title="Смотреть историю репутации" class="repHistory" href="<%= c '$_REP_READ_URL$' %>"><b><%= c '$_REPUTATION$' %></b></a>
                <% uif('$_REP_DO_URL$') { %>
                    <a href="<%= c '$_REP_DO_URL$' %>" title="Изменить репутацию">
                        <img src="http://src.ucoz.ru/img/fr/wm.gif">
                        <img src="http://src.ucoz.ru/img/fr/wp.gif">
                    </a>
                <% }.endif! %>
            </div>
        <% }.endif! %>
        <% uif('$_NAME$') { %>
            <div class="profile-line">
                <span class="profile-label">Имя</span>
                <%= c '$_NAME$' %> <% uif('$_GENDER_NAME$') { %>[ <%= c '$_GENDER_NAME$' %> ]<% }.endif! %>
            </div>
        <% }.endif! %>
        <% uif('$_STATUS$') { %>
            <div class="profile-line">
                <span class="profile-label">Статус</span>
                <%= c '$_STATUS$' %>
            </div>
        <% }.endif! %>
        <% uif('$MODER_PANEL$') { %>
            <div class="profile-line">
                <span class="profile-label">Регистрационный IP</span>
                <a href="http://www.ripe.net/perl/whois?<%= c '$_IP_ADDRESS$' %>" target="_blank"><%= c '$_IP_ADDRESS$' %></a>
            </div>
        <% }.endif! %>
        <% uif('$_REG_TIME$') { %>
            <div class="profile-line">
                <span class="profile-label">Дата регистрации</span>
                <%= c '$_REG_TIME$' %>
            </div>
        <% }.endif! %>
        <% uif('$_LOG_TIME$') { %>
            <div class="profile-line">
                <span class="profile-label">Дата входа</span>
                <%= c '$_LOG_TIME$' %>
            </div>
        <% }.endif! %>
        <% uif('$_BIRTHDAY$') { %>
            <div class="profile-line">
                <span class="profile-label">Дата рождения</span>
                <%= c '$_BIRTHDAY$' %> [ <b><%= c '$_AGE$' %></b> <%= c '$_ZODIAC$' %> ]
            </div>
        <% }.endif! %>

        <div class="profile-line">
            <span class="profile-label">E-mail</span>
            <% uif('$_IS_OWN_PROFILE$') { %>
                <%= c '$_EMAIL$' %> <% uif('$_EMAIL_IS_HIDDEN$') { %>(Адрес скрыт)<% }.endif! %>
            <% }.else { %>
                <% uif('$MODER_PANEL$') { %>
                    <a href="mailto:<%= c '$_EMAIL$' %>"><%= c '$_EMAIL$' %></a>
                    <% uifnot('$_EMAIL_IS_VERIFIED$') { %>
                        <img alt="" style="vertical-align:1px;" src="http://s6.ucoz.net/img/ma/bn.gif" width="8" title="E-mail адрес не подтвержден">
                    <% }.endif! %>
                <% }.else { %>
                    <% uif('$_SEND_EMAIL_URL$') { %>
                        <a href="<%= c '$_SEND_EMAIL_URL$' %>">Написать письмо пользователю</a>
                    <% }.else { %>
                        <i>Адрес скрыт</i>
                    <% }.endif! %>
                <% }.endif! %>
            <% }.endif! %>
            <% uif('$_EMAIL_VERIFICATION_URL$') { %>
                [ <a href="<%= c '$_EMAIL_VERIFICATION_URL$' %>"><b style="color:red">Подтвердить e-mail</b></a> ]
            <% }.endif! %>
        </div>

        <% uif('$_WWW$') { %>
            <div class="profile-line">
                <span class="profile-label">Сайт</span>
                <a href="<%= c '$_WWW$' %>" title="Веб-сайт" class="prompt-link" target="_blank" rel="nofollow"><%= c '$_WWW$' %></a>
            </div>
        <% }.endif! %>

        <% uif('$_ICQ$') { %>
            <div class="profile-line">
                <span class="profile-label">ICQ</span>
                <%= c '$_ICQ$' %>
            </div>
        <% }.endif! %>

        <% uif('$_AOL$') { %>
            <div class="profile-line">
                <span class="profile-label">AOL</span>
                <%= c '$_AOL$' %>
            </div>
        <% }.endif! %>

        <% uif('$_YAHOO$') { %>
            <div class="profile-line">
                <span class="profile-label">Yahoo</span>
                <%= c '$_YAHOO$' %>
            </div>
        <% }.endif! %>

        <% uif('$_COUNTRY$') { %>
            <div class="profile-line">
                <span class="profile-label">Страна</span>
                <%= c '$_COUNTRY$' %>
            </div>
        <% }.endif! %>

        <% uif('$_STATE$') { %>
            <div class="profile-line">
                <span class="profile-label">Штат</span>
                <%= c '$_STATE$' %>
            </div>
        <% }.endif! %>

        <% uif('$_CITY$') { %>
            <div class="profile-line">
                <span class="profile-label">Город</span>
                <%= c '$_CITY$' %>
            </div>
        <% }.endif! %>

        <% uif('$_SIGNATURE$') { %>
            <div class="profile-line">
                <span class="profile-label">Подпись</span>
                <%= c '$_SIGNATURE$' %>
            </div>
        <% }.endif! %>
    </div>
    <% uif('$_IS_ACTIVITY$') { %>
        <div class="text-center top-hr">
            <% uif('$_COM_ENTRIES$') { %>   | <a href="<%= c '$_COM_ACTIVITY_URL$' %>" target="_blank">комментарии (<b><%= c '$_COM_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_FORUM_ENTRIES$') { %> | <a href="<%= c '$_FORUM_ACTIVITY_URL$' %>" target="_blank">форум (<b><%= c '$_FORUM_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_BLOG_ENTRIES$') { %>  | <a href="<%= c '$_BLOG_ACTIVITY_URL$' %>" target="_blank">фан-творчество (<b><%= c '$_BLOG_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_NEWS_ENTRIES$') { %>  | <a href="<%= c '$_NEWS_ACTIVITY_URL$' %>" target="_blank">новости (<b><%= c '$_NEWS_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_PUBL_ENTRIES$') { %>  | <a href="<%= c '$_PUBL_ACTIVITY_URL$' %>" target="_blank">статьи (<b><%= c '$_PUBL_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_LOAD_ENTRIES$') { %>  | <a href="<%= c '$_LOAD_ACTIVITY_URL$' %>" target="_blank">файлы (<b><%= c '$_LOAD_ENTRIES$' %></b>)</a><% }.endif! %>
            <%# "| <a href="$_DIR_ACTIVITY_URL$" target="_blank">сайты (<b>$_DIR_ENTRIES$</b>)</a>" %>
            <% uif('$_BOARD_ENTRIES$') { %> | <a href="<%= c '$_BOARD_ACTIVITY_URL$' %>" target="_blank">объявления (<b><%= c '$_BOARD_ENTRIES$' %></b>)</a><% }.endif! %>
            <% uif('$_PHOTO_ENTRIES$') { %> | <a href="<%= c '$_PHOTO_ACTIVITY_URL$' %>" target="_blank">изображения (<b><%= c '$_PHOTO_ENTRIES$' %></b>)</a><% }.endif! %> |
        </div>
    <% }.endif! %>

    <% uif('$USERS_LIST_URL$') { %>
        <div class="text-center top-hr">
            <form method="post" action="/index" name="fuser" style="margin:0px">
                <input type="button" class="allUsersBtn" style="width:150px;" onclick="window.location.href='/index/15-1'" value="Список пользователей">&nbsp;
                <input type="text" class="uSearchFl" name="user" style="width:240px;text-align:center;" size="20" value="Логин пользователя" onclick="if (this.value=='Логин пользователя'){this.value='';}" maxlength="25">
                <input type="submit" class="uSearchFlSbm" style="width:150px;" value="Найти пользователей">
                <input type="hidden" name="a" value="15" />
            </form>
        </div>
    <% }.endif! %>
<% end %>
