<% layout 'templates_pda/layouts/main.html.erb' do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active"><%= c '$MODULE_NAME$' %></li>
    </ol>
    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
                [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить фотографию</a> ]
            </div>
        </div>
    <% }.endif! %>
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix hr">
                В настоящий момент <b><%= c '$NUM_ENTRIES$' %></b> фотографий в <b><%= c '$NUM_CATEGORIES$' %></b> альбомах.
            </div>
            <div class="text-center">
                <h3>Новые фотографии фотоальбома</h3>
            </div>
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
